[Unit]
Description=Nuclear Option Server
Wants=network-online.target
After=network-online.target

[Service]
User=steam
Group=steam

# make sure path and beta branch/password and are correct
WorkingDirectory=/home/steam/NuclearOptionServer
ExecStartPre=/usr/games/steamcmd +force_install_dir /home/steam/NuclearOptionServer +login anonymous +app_update 3930080 validate +quit
ExecStart=/home/steam/NuclearOptionServer/RunServer.sh

Restart=always
StartLimitIntervalSec=120
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
